*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eff5fc;
    /* for dark mode */
    /* background-color: #1f1f1f; */
    text-align: center;
}

/* Style for the Home-Section Starts here */
#home-section{
    height: 100vh;
    width: 100%;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-background{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #3e84f4d2, #4f29cd);
}
/* style for background pattern */
.cover-background img{
    width: 70px;
    height: 70px;
    position: absolute;
}

.cover-background .shape-1s{
    top: 35%;
    left:0px;
    transform: translateY(-50%);
}
.cover-background .shape-2s{
    top: 35%;
    right: 0;
    transform:translateY(-50%) rotate(180deg);
}
.cover-background .shape-3s{
    bottom: 35%;
    right: 0;
    transform:translateY(50%) rotate(180deg);
}
.cover-background .shape-4s{
    bottom: 35%;
    left: 0;
    transform:translateY(50%);
}
.cover-background .shape-5s{
    bottom: 0;
    left: 50%;
    transform:translateX(-50%) rotate(90deg);
}
.cover-background .shape-1t{
    top: 0;
    left:0px;
}
.cover-background .shape-2t{
    bottom: 0;
    left:0px;
    transform: rotate(90deg);
}
.cover-background .shape-3t{
    top: 0;
    right: 0;
    transform: rotate(-90deg);
}
.cover-background .shape-4t{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}
.cover-background .shape-5t{
    top: 75px;
    right: 0;
    transform: rotate(90deg);
}
.cover-background .shape-6t{
    top: 75px;
    left: 0;
    transform: rotate(180deg);
}
.cover-background .shape-7t{
    bottom: 75px;
    left: 0;
    transform: rotate(-90deg);
}
.cover-background .shape-8t{
    bottom: 75px;
    right: 0;
}
.cover-background .shape-9t{
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
}

/* Style for cover photo */
.cover-photo{
    position: absolute;
    z-index: 2;
    height: 70%;
    width: auto;
}

.cover-photo img{
    border-radius: 175px;
    height: 100%;
    border: 7px solid rgb(255, 255, 255, 1);
    box-shadow: 0px 0px 20px 5px rgb(255, 255, 255, 0.5);
    background-color: rgb(62, 133, 244);
}

/* style for cover title */
.cover-title{
    position: absolute;
    z-index: 3;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, .5);
}
.cover-title h1 span{
    font-weight: 700;
    color: #3e85f4;
    text-shadow: black;
}

/* Style for the Home-Section Ends here */

/* Style for the Service-Section Starts here */
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}
.card-container .card{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
    inset -5px -5px 5px rgba(255,255,255,0.05),
    5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;
}
.card-container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #eff5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.card-container .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.02);
    background: linear-gradient(45deg, #3e85f4, #4f29cd);
}
.card-container .card .box .content{
    padding: 20px;
    text-align: center;
}
.card-container .card .box .card-container h2{
    position: absolute;
    color: rgba(0, 0, 0, 0.02);
    top: -10px;
    right: 30px;
    font-size: 8rem;
    transition: 0.5s;
}
.card-container .card:hover .box .content h2{
    color: rgba(0, 0, 0, 0.05);
}
.card-container .card .box .content h3{
    font-size: 1.8rem;
    color: #777;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 10px;
}
.card-container .card .box .content p{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
.card-container .card:hover .box .content p,
.card-container .card:hover .box .content h3{
    color: #fff;
}
.card-container .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background-color: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
}
.card-container .card:hover .box .content a{
    background-color: #ff568f;
}
/* Style for the Service-Section Ends here */

/* Style for the Asset-Section Starts here */
.drop-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 40px 60px;
}
.drop-container .drop{
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
    25px 35px 20px rgba(0, 0, 0, 0.05),
    25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(255, 255, 255, 0.09);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-container .drop:nth-child(2),
.drop-container .drop:nth-child(5),
.drop-container .drop:nth-child(8)
{
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
}
.drop-container .drop:nth-child(3),
.drop-container .drop:nth-child(6),
.drop-container .drop:nth-child(9)
{
    border-radius: 61% 39% 52% 48% / 44% 59% 41% 56%;
}
.drop-container .drop:nth-child(4),
.drop-container .drop:nth-child(7)
{
    border-radius: 35% 65% 31% 69% / 57% 59% 41% 43%;
}
.drop-container .drop:hover{
    border-radius: 50%;
}
.drop-container .drop::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 55px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}
.drop-container .drop::after{
    content: '';
    position: absolute;
    top: 40px;
    left: 90px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}
.drop-container .drop .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-container .drop .content img{
    width: 120px;
    opacity: .8;
}
.drop-container .drop .content .big-img{
    width: 95px;
}
/* Style for the Asset-Section Ends here */

/* Style for the Gallery-Section Stars here */
.gallery-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-direction: column;
}

input{
    display: none;
}

.tag{
    font-size: 20px;
    margin: 10px 0;
    padding: 5px 5px;
    border-radius: 50px;
    background-color: #efefef;
    display: inline-block;
    color: black;
    cursor: pointer;
    border: 1px solid #ccc;
    width: 150px;
}

.image-container .images{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container .images .image{
    width: 300px;
    height: 300px;
    display: inline-block;
}

.image-container .images .image img{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.09);
}

.image-container .images .image img:hover{
    border: 2px solid rgba(62, 133, 244, 0.8);
    box-shadow: 0px 0px 10px 3px rgba(62, 133, 244, 0.7);   
}
/* filter css */
#logo:checked ~ .image-container> .images > .image:not([class *="logo"]),
#mockup:checked ~ .image-container> .images > .image:not([class *="mockup"]),
#illustration:checked ~ .image-container> .images > .image:not([class *="illustration"]),
#photoshop:checked ~ .image-container> .images > .image:not([class *="photoshop"]){
    display: none;
}

#all:checked ~ .all,
#logo:checked ~ .logo,
#mockup:checked ~ .mockup,
#illustration:checked ~ .illustration,
#photoshop:checked ~ .photoshop{
    background-color:#3e85f4;
    color: white;
}