*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eff5fc;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}
.card-container .card{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
    inset -5px -5px 5px rgba(255,255,255,0.05),
    5px 5px 5px rgba(0,0,0,0.05),
    -5px -5px 5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;
}
.card-container .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #eff5fc;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.card-container .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.02);
    background: linear-gradient(45deg, #b95ce4, #4f29cd);
}
.card-container .card .box .content{
    padding: 20px;
    text-align: center;
}
.card-container .card .box .card-container h2{
    position: absolute;
    color: rgba(0, 0, 0, 0.02);
    top: -10px;
    right: 30px;
    font-size: 8rem;
    transition: 0.5s;
}
.card-container .card:hover .box .content h2{
    color: rgba(0, 0, 0, 0.05);
}
.card-container .card .box .content h3{
    font-size: 1.8rem;
    color: #777;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 10px;
}
.card-container .card .box .content p{
    font-size: 1em;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
}
.card-container .card:hover .box .content p,
.card-container .card:hover .box .content h3{
    color: #fff;
}
.card-container .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background-color: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
}
.card-container .card:hover .box .content a{
    background-color: #ff568f;
}